/Makefile
/Makefile.in
/globals_test
/globals_test-common_suite.gcda
/globals_test-common_suite.gcno
/globals_test-common_suite.o
/globals_test-globals_test.gcda
/globals_test-globals_test.gcno
/globals_test-globals_test.o
